:root {
    /* Primary */
    --darkblue: hsl(233, 47%, 7%);
    --darkdesblue: hsl(244, 38%, 16%);
    --softviolet: hsl(277, 64%, 61%);
    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --slightlytranspwhite1: hsla(0, 0%, 100%, 0.75);
    --slightlytranspwhite2: hsla(0, 0%, 100%, 0.6);
}
body {
    font-size: 15px;
    background-color: var(--darkblue);
}
.card {
    background-color: var(--darkdesblue);
}
.head-text span {
    color: var(--softviolet);
}
h1 {
    color: var(--white);
}
.stat-text {
    color: var(--white);
}
.main-text {
    color: var(--slightlytranspwhite1);
}
.stat-block p {
    color: var(--slightlytranspwhite2);
}
.attribution {
    color: var(--slightlytranspwhite2);
}
.attribution a {
    text-decoration: none;
    color: var(--slightlytranspwhite2);
}
.container-picture img {
    filter: invert(25%) sepia(65%) saturate(410%) hue-rotate(233deg)
        brightness(98%) contrast(103%);
}
@media (max-width: 1440px) {
    body {
        width: 1440px;
        min-height: 100vh;
    }
}
@media (max-width: 375px) {
    body {
        min-height: 100vh;
        width: 375px;
    }
}
